.error-page {
    margin-top: 100px;

    &__title {
        @include fontSize(40px);
        font-weight: 900;
    }

    &__subtitle {
        margin-top: 20px;
    }

    &__btn {
        margin-top: 30px;
        padding: 0.8rem 1.2rem;
        background-color: $primary-color;
        border: 2px dotted $primary-color;
        border-radius: 40px;
        color: #ffffff;

        &:hover {
            background-color: #ffffff;
            color: $primary-color;

            .error-page__btn-icon {
                opacity: 1;
                margin-left: 5px;
                @include fontSize(20px);
            }
        }

        &-text {
            @include fontSize(18px);
            font-weight: 700;
            
        }

        &-icon {
            opacity: 0;
            font-size: 0;
        }
    }     
}