.contact {
    margin-top: 50px;
    margin-bottom: 50px;

    &__title {
        margin-top: 80px;
    }

    &__subtitle {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.notification {

    &__error {
        width: 100%;
        background-color: $error;
        border-bottom: 2px solid #ad3434;
        padding: 10px;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;

        &-message {
            @include fontSize(18px);
            font-weight: 700;
            color: #ffffff;
        }
    }

    &__confirm {
        width: 100%;
        background-color: $success;
        border-bottom: 2px solid #34ad58;
        padding: 10px;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;

        &-message {
            @include fontSize(18px);
            font-weight: 700;
            color: #ffffff;
        }
    }
}

.form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1024px) {
		width: 50%;
        margin-left: auto;
        margin-right: auto;
	}

    &__group {
        margin-bottom: 20px;
    }

    &__label {
        display: block;
        text-align: center;
        margin-bottom: 10px; 
        font-weight: 400; 
        @include fontSize(20px);
    }

    &__email, 
    &__subject, 
    &__message {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        background: none repeat scroll 0 0 #FFFFFF; 
        border: 1px solid #C9C9C9; 
        color: #747474; 
        padding: 8px; 
        @include fontSize(16px);
        border-radius: 2px 2px 2px 2px;

        &:focus {
            outline: none;
            border: 1px solid $primary-color;
        }
    }

    &__message {
        resize: none;
    }

    &__btn {
        border: none;
        width: 100%;
    }
}