@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&display=swap');
@import '../../../node_modules/baguettebox.js/dist/baguetteBox.min.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: #f2f2f2;
	height: 100%;
	display: flex; // Pour fixer le footer en pied de page
	flex-direction: column; // Pour fixer le footer en pied de page
	@include fontSize(16px);
	font-family: 'Heebo', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: $default-color;
}

main {
	width: 100%;
	max-width: 2000px;
	background-color: #f2f2f2;
	flex: 1 0 auto; /* Empêchez Chrome, Opera et Safari de laisser ces éléments se réduire à une taille inférieure à la taille minimale par défaut de leur contenu. */

	@media screen and (min-width: 2000px) {
		margin: 0 auto;
		border-left: 2px solid #a3a3a3;
		border-right: 2px solid #a3a3a3;
		border-bottom: 2px solid #a3a3a3;
	}
}

img {
	max-width: 100%;
	height: auto;
}



a {
	text-decoration: none;
	color: $default-color;

	&:hover,
	&:focus,
	&:active {
	color: $primary-color;
	}
}

strong {
	font-weight: 700;
	color: $primary-color;
}

///// Personnal librarie /////

.border-top {
	border-top: 1px solid #a3a3a3;
}

.separator {
	border: 1px solid #a3a3a3;
}


.title {
	@include fontSize(30px);
	font-weight: 700;
	text-align: center;

	@media screen and (min-width: 768px) {
		@include fontSize(35px);
	}

	&--primary {
		@include fontSize(35px);

		@media screen and (min-width: 768px) {
            @include fontSize(40px);
        }

        @media screen and (min-width: 1200px) {
            @include fontSize(60px);
        }
	}
}

.subtitle {
	@include fontSize(18px);
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1400px;
	padding: 1rem;
	background-color: transparent;

	@media screen and (min-width: 576px) {
		padding: 2rem;
	}

	@media screen and (min-width: 1400px) {
		margin-right: auto;
		margin-left: auto;
	}
}

.container-full {
	width: 100%;
	max-width: 2000px;
}

.container-big {
	width: 90%;
	max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	
	&--between {
		justify-content: space-between;
	}

	&--start {
		justify-content: start;
	}

	&--flex-start {
		justify-content: flex-start;
	}

	&--center {
		justify-content: center;
	}

	&--end {
		justify-content: flex-end;
	}

	&--evenly {
		justify-content: space-evenly;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;

	&--between {
		justify-content: space-between;
	}

	&--start {
		justify-content: start;
	}

	&--center {
		justify-content: center;
	}
}

.btn {
	display: inline-block;
	padding: 1.25rem 2rem;
	background-color: transparent;
	@include fontSize(18px);
	font-weight: 700;
	color: #ffffff;
	border-radius: 40px;
	line-height: 100%;
	cursor: pointer;
	
	&:hover,
	&:active,
	&:focus {
		color: #ffffff;
		transition: 0.5s;
	}

	// Style
	&--square {
		border-radius: 0;
	}

	// Sizes
	&--small {
		padding: 1rem 1.75rem;
		@include fontSize(16px);
	}

	&--xsmall {
		padding: 0.35rem 0.9rem;
		@include fontSize(12px);
	}

	// Colors
	&--dark {
		background-color: $default-color;

		&:hover, 
		&:active,
		&:focus {
			background-color: #7e7e7e;
		}
	}

	&--mint {
		background-color: $primary-color;

		&:hover, 
		&:active,
		&:focus {
			background-color: $secondary-color;
		}
	}

	&--darkgreen {
		background-color: $secondary-color;

		&:hover, 
		&:active,
		&:focus {
			background-color: $primary-color;
		}
	}

	&--pink {
		background-color: $highlight;

		&:hover, 
		&:active,
		&:focus {
			background-color: #b1446c;
		}
	}
}

.label-btn {
	display: inline-block;
	padding: 1.25rem 2rem;
	background-color: transparent;
	@include fontSize(18px);
	font-weight: 700;
	color: #ffffff;
	line-height: 100%;

	// Sizes
	&--small {
		padding: 1rem 1.75rem;
		@include fontSize(16px);
	}

	&--xsmall {
		padding: 0.35rem 0.9rem;
		@include fontSize(12px);
	}

	// Colors
	&--dark {
		background-color: $default-color;
	}

	&--mint {
		background-color: $primary-color;
	}

	&--darkgreen {
		background-color: $secondary-color;
	}

	&--pink {
		background-color: $highlight;
	}

	&--php {
		background-color: #7377ad;
	}

	&--js {
		background-color: #efd81d;
	}

	&--sass {
		background-color: #c76395;
	}

	&--vue {
		background-color: #41b883;
	}

	&--alpine {
		background-color: #8ac1ce;
	}

	&--api {
		background-color: #6897bb;
	}

	&--sql {
		background-color: #dd8a00;
	}

	&--wp {
		background-color: #0073aa;
	}

	&--bootstrap {
		background-color: #7952b3;
	}
}

.mint-block {
	background-color: $primary-color;
	width: 100%;

	@media screen and (min-width: 1024px) {
		padding-top: 30px;
		padding-bottom: 100px;   
	}
}

.bg-color {
	color: #ffffff;
	font-weight: 700;

	&--mint {
		background-color: $primary-color;
	}

	&--darkgreen {
		background-color: $secondary-color;
	}

	&--pink {
		background-color: $highlight;
	}
}