.footer {
    flex-shrink: 0; /* Empêchez Chrome, Opera et Safari de laisser ces éléments se réduire à une taille inférieure à la taille minimale par défaut de leur contenu. */
    padding-top: 50px;
    color: #ffffff;

    &__background {
        margin-bottom: -1rem;
        line-height: 0;  
    }

    &__picture {
        @media screen and (min-width: 2688px) {
            display: block;
            width: 100%;
        }
    }

    &__block {
        position: relative;
        width: 100%;
        height: 200px;
        background-color: #0a0a0a;
    }
            
    &__items {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            width: auto;
        }
    } 

    &__logo {
        width: 45%;
        margin-top: 10px;
        margin-bottom: 15px;

        @media screen and (min-width: 576px) {
            width: 30%;
        }

        @media screen and (min-width: 768px) {
            width: 40%;
            margin-bottom: 25px;
        }

        &-link {
            &:hover,
            &:focus,
            &:active {
                outline:0;
            }
        }
    }
     
    &__social {
        width: 45%;
        margin-bottom: 15px;

        @media screen and (min-width: 576px) {
            width: 30%;
        }

        @media screen and (min-width: 768px) {
            width: 45%;
            margin-bottom: 25px;
        }

        &-item {
            width: 20%;
            text-align: center;
        }

        &-link {
            color: #ffffff;
    
            &:hover,
            &:focus,
            &:active {
                color: $primary-color;
            }
    
            &--gitlab { 
                &:hover,
                &:focus,
                &:active {
                    color: #fc6d26;
                }
            }
    
            &--linkedin { 
                &:hover,
                &:focus,
                &:active {
                    color: #0a66c2;
                }
            }
        }

        &-icon {
            @include fontSize(30px);
        }
    }
 
    &__copyright {
        text-align: center;
        width: 50%;

        @media screen and (min-width: 576px) {
            width: 30%;
        }

        @media screen and (min-width: 768px) {
            width: 42%;
        }

        &-link {
            color: #ffffff;
    
            &:hover,
            &:focus,
            &:active {
                color: $primary-color;
            }
        }
    } 
}