.header {

    &__container {
        background-color: #ffffff;
        max-width: 2000px;
        height: auto;
        padding: 0;


        @media screen and (min-width: 576px) {
            padding: 0 2rem;
        }

        @media screen and (min-width: 1400px) {
            margin-right: auto;
            margin-left: auto;
        }

        @media screen and (min-width: 2000px) {
            margin-right: auto;
            margin-left: auto;
            border-width: 0 2px;
            border-style: solid;
            border-color: #a3a3a3;
        }
    }
}

.logo {
    width: 100%;

    &__picture {
        display: block;
        margin: 20px auto;
        height: 70px;
        line-height: 50px;
    }

    @media screen and (min-width: 576px) {
        width: auto;
        flex-basis: auto;
        height: 70px;

        &__picture {
            margin: 0 auto;
            padding-top: 7px;
            height: 50px;
        }
    }
}

.small-menu {
    width: 100%;
    background-color: $primary-color;

    @media screen and (min-width: 576px) {
        display: none;
        list-style-type: none;  
    }

    &__item {
        width: 40%;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;

        &:hover,
        &:active,
        &:focus {
            color: $secondary-color;
        }
    }

    &__content {
        padding: 10px;

        &-icon {
            @include fontSize(50px);
            margin-bottom: 10px;
        }
    
        &-title {
            @include fontSize(15px);
            font-weight: 900;
            text-transform: uppercase;
            word-wrap: break-word;
        }
    }
}

.big-menu {
    display: none;
    list-style-type: none;

    @media screen and (min-width: 576px) {
        display: block;
        background-color: transparent;
        flex-basis: 60%;
        border: none;
    }

    @media screen and (min-width: 768px) {
        flex-basis: 70%;
    }

    &__item {
        margin-right: 4%;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-family: 'Heebo', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }
}



