.hero {

    &__title {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 30px;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            padding-top: 40px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 50px;
        }
    }

    &__subtitle {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            @include fontSize(19px);
            width: 70%;
            margin-bottom: 40px;
        }

        @media screen and (min-width: 1200px) {
            @include fontSize(20px);
            width: 50%;
            margin-bottom: 50px;
        }
    }

    &__btn {
        display: none;
        list-style-type: none;

        @media screen and (min-width: 768px) {
            display: flex;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }
}

.picture {

    &__item {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.about {

    &__title {
        color: $secondary-color;
        margin-bottom: 20px;
        line-height: 38px;

        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
            padding-top: 15px;
        }
    }

    &__description {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        color: #fff;
        line-height: 1.5;
        text-align: center;

        @media screen and (min-width: 1024px) {
            @include fontSize(18px);
        }
    }

}

.interests {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    @media screen and (min-width: 1024px) {
        margin-bottom: 20px;
    }

    &__title {
        color: $secondary-color;
        margin-bottom: 10px;

        @media screen and (min-width: 576px) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 35px; 
        }
    }
    
    &__container {
        width: 100%;
    }

    &__item {
        width: 50%;
        text-align: center;
        margin-top: 20px;

        @media screen and (min-width: 576px) {
            margin-top: 0;
            width: 25%;
        }
    }

    &__icon {
        @include fontSize(25px);
        margin-bottom: 10px;
        color: $secondary-color;

        @media screen and (min-width: 768px) {
            @include fontSize(30px);
            margin-bottom: 20px;
        }
    }

    &__name {
        @include fontSize(15px);
        color: #ffffff;
        font-weight: 700;
    }
}

.content-box {
    background-color: #ffffff;
    width: 100%;
    max-width: 1400px;

    @media screen and (min-width: 1024px) {
        margin-top: -8rem;
        border: 1px solid #a3a3a3;
        border-radius: 4px;
    }

    @media screen and (min-width: 1400px) {
        margin-right: auto;
        margin-left: auto;
    }
}


.skills {
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;


    &__item {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        @media screen and (min-width: 1024px) {
            width: 35%;
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__icon {
        @include fontSize(40px);
        color: $secondary-color;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            @include fontSize(50px);
        }
    }

    &__subtitle {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

.featured-works {
    text-align: center;
    
    @media screen and (min-width: 1024px) {
        margin-top: 30px;
    }
    
    &__head {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 70%;
            margin-bottom: 20px;
        }

        @media screen and (min-width: 1024px) {
            margin-top: 10px;
        }

        &-title {
            margin-bottom: 15px;
        }
    }

    &__projects {
        width: 100%;

        @media screen and (min-width: 1024px) {
            margin-top: 30px;
        }
    }

    &__more {
        width: 100%;
        margin-top: 10px;

        @media screen and (min-width: 1024px) {
            margin-top: 30px;
        }
    }
}

.featured-project {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    line-height: 0;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        width: 48%;
    }

    @media screen and (min-width: 1024px) {
        width: 32%;
    }
    
    &:hover {

        .featured-project__thumbnail {
            filter : blur(0.2rem);
        }

        .featured-project__caption {
            opacity: 1;
            transition: 0.45s ease-in-out;
        }
    
        .featured-project__caption-bg {
            opacity: 0.5;
        }
    
        .featured-project__caption-container {
            opacity: 1;
        }
    }
    
    &__thumbnail {
        width: 100%;
        height: 100%;
        border: 1px solid #a3a3a3;
    }

    &__caption {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    

        &-bg {
            position: relative;
            background-color: #000000;
            width: 100%;
            height: 100%;
        }

        &-container {
            position: absolute; /* postulat de départ */
            top: 50%; 
            left: 50%; /* à 50%/50% du parent référent */
            transform: translate(-50%, -50%);
            width: 80%;
            line-height: 24px;
            color: #ffffff;
        }

        &-title {
            @include fontSize(22px);
            font-weight: 700;
            margin-bottom: 10px;
        }

        &-subtitle {
            @include fontSize(17px);
            text-align: center;
            margin-bottom: 20px;
        }

        &-btn {

            &:active {
                outline: #ffffff;
            }
        }
    }
}

.social {
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    

    &__head {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;

        &-subtitle {
            margin-top: 10px;
        }
    }

    &__container {
        width: 90%;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width: 576px) {
            width: 80%;
            flex-direction: row;
            justify-content: center;
        }

        @media screen and (min-width: 1024px) {
            width: 60%;
        }

        @media screen and (min-width: 1200px) {
            width: 40%;
        }
    }

    &__item {
        width: 100%;
        padding: 0.75rem;

        @media screen and (min-width: 576px) {
            width: 48%;
        }

        &-link {
            &:hover,
            &:focus,
            &:active {
                color: $default-color;
            }
        }

        &-gitlab,
        &-linkedin {
            @include fontSize(70px);
            margin-bottom: 10px;
        }

        &-gitlab {
            &:hover,
            &:focus,
            &:active {
                color: #db4128;
            }
        }

        &-linkedin {
            &:hover,
            &:focus,
            &:active {
                color: #0077b0;
            }
        }

        &-title {
            @include fontSize(18px);
            font-weight: 700;
        }
    }
}

.contact-box {
    width: 100%;
    background-color: $primary-color;
}

.contact-home {
    background-color: $primary-color;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    
    @media screen and (min-width: 1024px) {
        padding: 3rem 2rem;
    }
    
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        @media screen and (min-width: 1024px) {
            max-width: 1400px;
            margin-right: auto;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__item {
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: 28%;
        }

        &-title {
            line-height: 41px;
            color: $secondary-color;
            margin-bottom: 10px;

            @media screen and (min-width: 1024px) {
                margin-bottom: 0;
            }
        }

        &-subtitle {
            margin-bottom: 20px;

            @media screen and (min-width: 1024px) {
                @include fontSize(20px);
                margin-bottom: 0;
            }
        }
    }

    &__box {
        width: 100%;
        text-align: center;

        @media screen and (min-width: 1024px) {
            width: 28%;
            margin-right: 0;
            margin-left: 0;
        }
    }
}