.work {
    margin-top: 15px;

    @media screen and (min-width: 1024px) {
		margin-top: 10px;
	}

    &__thumbnail {
        max-width: 100%;

        @media screen and (min-width: 1200px) {
            max-width: 65%;
        }
    }

    &__content {
        width: 100%;

        @media screen and (min-width: 1200px) {
            width: 35%;
            padding-left: 2rem;
        }
    }

    &__title,
    &__subtitle,
    &__description {
        text-align: start;
    }

    &__categorie,
    &__subtitle,
    &__description,
    &__separator,
    &__tags {
        margin-bottom: 20px;
    }

    &__title {
        @include fontSize(30px);
        margin-top: 15px;
        margin-bottom: 20px;
    }

    
    &__subtitle {

        &-title {
            font-weight: 700;
            margin-bottom: 5px;
        }
    }

    &__description {

        &-title {
            font-weight: 700;
            margin-bottom: 5px;
        }
    }


    .label {

        &__categorie,
        &__tag {
            margin-right: 2%;
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .link {

        @media screen and (min-width: 576px) {
            margin-top: 50px;
            flex-direction: row; 
        }

        &__item {
            width: 100%;
            text-align: center;
            margin-top: 50px;

            &:first-child {
                margin-top: 20px;
            }

            @media screen and (min-width: 576px) {
                width: 50%;
                margin: 0 auto;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &__btn {
            margin-top: 20px;
            padding: 0.8rem 1.2rem;
            border: 2px dotted;
            border-radius: 40px;
            color: #ffffff;
    
            &--gitlab {
                background-color: #db4128;
                border-color: #db4128;

                &:hover {
                    background-color: #ffffff;
                    color: #db4128;
                }
            }
            
            &--url {
                background-color: $primary-color;
                border-color: $primary-color;

                &:hover {
                    background-color: #ffffff;
                    color: $primary-color;
                }
            }
        }

        &__text {
            @include fontSize(18px);
            font-weight: 700;
        }

        &__icon {
            margin-left: 5px;
            @include fontSize(20px);
        }
    }

    .screenshots {
        background-color: $primary-color;
        margin-top: 30px;
        padding: 50px 1rem;
        
        &__container {
            width: 100%;
            max-width: 1300px;

            @media screen and (min-width: 1300px) {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &__title {
            @include fontSize(30px);
            color: #ffffff;

            @media screen and (min-width: 1024px) {
                @include fontSize(40px);
            }
        }
    }

    .gallery {
        
        margin-top: 30px;

        &__item {
            max-width: 1200px;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 30px;
            }
        }

        &__link {
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__picture {
            width: 100%;
        }
    }
}
    