.all-works {

    @media screen and (min-width: 1200px) {
        margin-top: 20px;
    }

    &__head {
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-bottom: 25px;
            flex-direction: row;
            justify-content: space-between;
        }

        &-container {
            width: 100%;
            margin-bottom: 15px;

            @media screen and (min-width: 768px) {
                width: 70%;
                margin-bottom: 0;
            }
        }

        &-title {
            @media screen and (min-width: 768px) {
                text-align: start;
            }
        }
    
        &-subtitle {
            @media screen and (min-width: 768px) {
                text-align: start;
            }
        }
    }

    &__filter {
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: end;
        }
    }

    &__projects {
        @media screen and (min-width: 768px) {
            margin: -0.5rem;
        }
    }
}

.tag {
    display: none;

    &__container {
        margin-bottom: 20px;
    }

    &__item {
        margin-right: 2%;
        margin-bottom: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.project {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
		width: 50%;
        padding: 0.5rem;
	}

    @media screen and (min-width: 1200px) {
		width: 33.33%;
	}

    &__head {
        position: relative;
        width: 100%;
        height: auto;
        line-height: 0;
        overflow: hidden;

        &:hover {
            .project__thumbnail {
                filter : blur(0.2rem);
            }

            .project__caption {
                opacity: 1;
                transition: 0.45s ease-in-out;
            }

            .project__caption-bg {
                opacity: 0.5;
            }

            .project__caption-content {
                opacity: 1;
                transition: 0.45s ease-in-out;
            }
        }
    }

    &__thumbnail {
        width: 100%;
        height: 100%;
    }

    &__caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &-bg {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0;
        }

        &-content {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
            @include fontSize(70px);
            color: #ffffff;
            opacity: 0;
        }

        &-icon {
            color: #ffffff;
    
            &:hover {
                color: $highlight;
            }
        }
    }

    &__categorie {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;

        &-name {
            @include fontSize(18px);
        }
    }

    &__details {
        padding: 20px;
        background-color: #ffffff;

        &-title {
            margin-top: 0;
            @include fontSize(22px);
            margin-bottom: 10px;
        }
    
        &-subtitle {
            @include fontSize(15px);
            margin-bottom: 20px;
        }
    
        &-tag {
            margin-right: 2%;
            cursor: unset;
    
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.filterDiv {
    display: none; /* Hidden by default */
}
  
  /* The "show" class is added to the filtered elements */
.show {
    display: block;
}