$default-color: #293133;
$primary-color: #17b7a1;
$secondary-color: #17665c;
$highlight: #f65b94;
$error: #cf5f5f;
$success: #5fcf80;

@import 'reset';
@import 'mixins';
@import 'default';
@import 'header';
@import 'footer';
@import 'home';
@import 'works';
@import 'single';
@import '404';
@import 'contact';